body {
	background: #f06 url(images/SZw92H.png) top left;
	/* background-size: cover; */
}
.slides > article {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
	color: #333;
	font-size: 36px;
	line-height: 40px;
}
h1, h2, h3 {
	font-weight: normal;
	color: #111;
}
h2 {
	line-height: 65px;
}
h3 {
	font-size: 45px;
	line-height: 50px;
	margin-bottom: .75em;
}
h4 {
	font-weight: normal;
}
td, th {
	border-color: #999;
}
th {
	font-weight: normal;
	font-size: .75em;
	background: rgba(0,0,0,.2);
}
pre {
	font-size: 22px;
	line-height: 36px;
	letter-spacing: -2px;
}
code {
	font-family: 'Droid Sans Mono', 'Courier New', monospace;
	color: #0091be;
	font-weight: 600;
}
button {
	font-size: 24px;
	line-height: 30px;
	padding: 5px 10px;
	border-radius: 8px;
	color: #fff;
}
article.fill h3 {
	background: rgba(255, 255, 255, .75);
	padding-top: .5em;
	padding-bottom: .5em;
}
.slides > article {
	border: 0;
	box-shadow: 0 0 5px rgba(0,0,0,.5), inset 2px 0px 20px rgba(0,0,0,.25);
}
.slides.template-me > article:not(.nobackground) { 
	background: rgba(255,255,255,.9);  
}
.slides.template-me > article:not(.nobackground):not(:first-child) { 
	background: rgba(255,255,255,.9) url(images/my-logo.png) 700px 630px no-repeat;  
}
.checkmark {
	font-weight: bold;
	color: green;
}

td {font-size: .75em;}

.arrowkey {
	display: inline-box;
	border: 1px solid #666; border-radius:10px; padding: 4px 10px 6px;
}

#slideTitle h1 {
	font-size: 90px;
	line-height: 70px;
}
#slideTitle h1 span {
	color: #e34c26;
}
#slideTitle p {
	font-size: 60px;
	line-height: 50px;
	color: #333;
}

.large-list li {
	margin-left: .5em;
	margin-bottom: 1em;
	font-size: 1.5em;
	line-height: 1.1em;
}
p.large-list {
	margin: 1em 0;
	font-size: 1.5em;
	line-height: 1.1em;
}

button.geo {
	background: #444 url(images/location.png) left top no-repeat;
	padding: 5px 10px 5px 45px;
}

/* Live Code - content editable */
.live-code {
	line-height: 1.5em;
}
.live-code input {
	font: inherit;
	color: #e34c26;
	background: rgba(255,255,255,.25);
	width: 100px;
	border: none;
	outline: none;
	text-align: center;
	vertical-align: middle;
}
/*
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*/
.dim {
	opacity: .5;
}


/* brower support icons */

.browser {
	background: url('images/browser_logos-128.png') no-repeat 0 0;
	display: inline-block;
	padding-left: 10px;
	height: 60px;
}
.browser.chrome {
	background-position: -17px -7px;
	width: 115px;
}
.browser.moz {
	background-position: -158px -7px;
	width: 121px;
}
.browser.o {
	background-position: -305px -6px;
	width: 109px;
}
.browser.safari {
	background-position: -441px -1px;
	width: 112px;
}
.browser.ie {
	background-position: -583px -8px;
	width: 110px;
}
.browser.android {
	background-position: -723px -5px;
	width: 116px;
}
.browser.dolphin {
	background-position: -850px -1px;
	width: 124px;
}
.browser span {
	font-size: .8em;
	background: #fff;
	padding: .25em .3em;
	border-radius: 50%;
}
.browser span:empty {
	visibility: hidden;
}
.browser-container {
	text-align: right;
	margin: 0;
}
.browser-container.left {
	text-align: left;
}
.browser-container + pre {
	margin-top: -5px;
}
.browser-container.small {
	-webkit-transform: scale(.4);
	-moz-transform: scale(.4);
	-o-transform: scale(.4);
	transform: scale(.4);
	width: 1000px;
	height: 60px;
	display: inline-block;
}
.browser-container.small .browser {
	height: 124px;
}
.browser-container.med {
	-webkit-transform: scale(.75);
	-moz-transform: scale(.75);
	-o-transform: scale(.75);
	transform: scale(.75);
	width: 1000px;
	height: 60px;
}
.browser-container.med.full .browser {
	height: 120px;
}
.browser-container.med .browser {
	height: 64px;
}
.browser-all {
	background: url('images/browser_logos-128.png') no-repeat 0 0;
}
.browser-all.small {
	height: 78px;
	width: 500px;
	background-size: 100%;
	margin: 0 auto;
}

.company-logo {
	height: 50px;
	padding: 15px 5px;
}

/* vcard */

.vcard, .vcard div  {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vcard {
    width: 420px; height: 300px;
    background: #e00;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,.5), inset 0 0 20px rgba(0,0,0,.25); 
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.vcard div:first-child {
    height: 27%;
    padding-top: 5px;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    letter-spacing: .2em;
	line-height: 40px;
}
.vcard p {
    padding: 0; margin: 0;
}
.vcard div:first-child p {
    font-size: 22px;
}
.vcard div:first-child p:first-child {
    font-size: 1.2em;
}
.fn {
    background: #fff;    
    height: 65%;
    font-family: "Coming Soon", "Comic Sans MS", cursive;
    text-align: center;
    padding-top: .75em;
	line-height: 2em;
}
.given-name {
    font-size: 80px;
    font-weight: bold;
}    
.nickname {
	font-size: 40px;
    font-weight: bold;
    font-style: normal;
}
.vcard.anim {
    -webkit-transition: all .5s ease-in-out; 
    -webkit-transform: scale(.7) rotate(-5deg) translateY(-280px) translateX(-330px);
}
.animList {
	opacity: 0;
	position: relative;
	top: -300px;
}
.vcard.anim + .animList {
	-webkit-transition: opacity .7s ease-in;
	opacity: 1;
}